certifi==2023.7.22
charset-normalizer==3.3.0
dataclasses-json==0.6.1
idna==3.4
jsonpath-python==1.0.6
Leonardo-Ai-SDK==2.0.0
marshmallow==3.20.1
mypy-extensions==1.0.0
packaging==23.2
pydevd-pycharm==233.9802.6
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.8.2
requests==2.31.0
six==1.16.0
typing-inspect==0.9.0
typing_extensions==4.8.0
urllib3==2.0.7
